.grid-container {
  display: grid;
  grid-template-rows: 90px auto auto 50px;
  grid-template-columns: 300px 1fr 300px;
  grid-gap: 20px;
  padding-left: 15px;
  padding-right: 15px;

  @media(max-width: 768px) {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  .header-main {
    z-index: z(header);

    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
  }

  .navigation {
    grid-row: 2 / span 2;
    grid-column: 3 / span 1;

  }

  aside {
    grid-row: 2 / span 2;
    grid-column: 1 / span 1;

  }

  .content {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }

  .content--sub {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;

    .box {
      height: 60px;
      width: 90px;
      float: left;
    }
  }

  .footer {
    grid-row: 4 / span 1;
    grid-column: 1 / span 3;
  }
}

.content-grid-container {
  display: grid;
  grid-template-rows: repeat(auto-fill, 70px);
  grid-template-columns: repeat(auto-fill, 200px);
  margin: 0 auto;
  grid-gap: 10px;
  justify-content: center;

  .content-grid-item {
    /*grid-column: 1;
    grid-row: 1;*/
    border: 1px solid #666;
  }
}
